/*-----------------------------------------
 Global Style
------------------------------------------*/


/*-----------------------------------------
 Header Style
------------------------------------------*/
#header_wrapper{
}

/*-----------------------------------------
 Navigation Style
------------------------------------------*/
#navigation_wrapper{
}
#nav{
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav li{
	float: left;
}
#nav li a{}
#nav li a:hover{}

/*-----------------------------------------
 Content Style
------------------------------------------*/


/*-----------------------------------------
 Footer Style
------------------------------------------*/
.footer-fix {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}